{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 3.108634554502868,
        "longitude": 101.58173561096193,
        "elevation": 50,
        "unit_system": "metric",
        "location_name": "NOVA Home",
        "time_zone": "Asia/Kuala_Lumpur",
        "external_url": "http://home.izndgroup.com:8123",
        "internal_url": "http://iznd-gps.duckdns.org:8123",
        "currency": "MYR"
    }
}